= form_tag group_rsvp_path(group), id: "group-rsvp-form", remote: true do
  = render partial: "invites/invite", collection: group.invites, locals: { group: group }
  %button{ type: "submit", class: "btn btn-info"} RSVP
