.modal-header
  %button{ type: "button", class: "close", aria: { hidden: "true" }, data: { dismiss: "modal" } } &times;
  %h5.modal-title.text-center= @group.name
.modal-body.text-center
.modal-footer
