.row.height-fill.flex-column-centered
  .margin-auto.text-color-nav-default
    %h2.text-center Accomodations
    %p.lead.text-center
      Rooms are available at the Westin Itasca at a group rate of $89/night. Please follow the link below to book your room.
    %a{:href => "https://www.starwoodmeeting.com/Book/patelandtailor", :target => "_blank", :class => "brand-info-link"}
      %h4.text-center Book Here
