.row
  .col-lg-6.col-md-6.col-sm-6.text-center
    .thumbnail
      .caption
        %strong.text-color-nav-default Uma's Vidhi
        %br
        %a{ href: "https://goo.gl/maps/Yy1ei", class: "text-color-nav-default" }
          Jitendra Patel Residence
          %br
          1190 Laurel Lane
          %br
          Gurnee, IL 60031
          %br
          %br
        %div.text-color-nav-default
          %span.glyphicon.glyphicon-calendar
          Friday August 15, 2014
          %br
          9:00 AM
  .col-lg-6.col-md-6.col-sm-6.text-center
    .thumbnail
      .caption
        %strong.text-color-nav-default Chirag's Manglik Prasango
        %br
        %a{ href: "https://goo.gl/maps/yI05q" }
          Narendra Tailor Residence
          %br
          22389 West Windsor Court
          %br
          Kildeer, IL 60047
          %br
          %br
        %div.text-color-nav-default
          %span.glyphicon.glyphicon-calendar
          Friday August 15, 2014
          %br
          9:00 AM
.row
  .col-lg-4.col-md-4.col-sm-4.text-center
    .thumbnail
      %img{ src: image_path("swaminarayan-temple.jpg") }
      .caption
        %strong.text-color-nav-default  Raas-Garba
        %br
        %a{ href: "https://goo.gl/maps/C8VMp" }
          Shree Swaminarayan Temple
          %br
          21 West Irving Park Road
          %br
          Itasca, IL 60143
          %br
          %br
        %div.text-color-nav-default
          %span.glyphicon.glyphicon-calendar
          Friday August 15, 2014
          %br
          Dinner: 6:00 PM
          %br
          Raas-Garba: 7:00 PM
  .col-lg-4.col-md-4.col-sm-4.text-center
    .thumbnail
      %img{ src: image_path("westin-wedding.jpg") }
      .caption
        %strong.text-color-nav-default  Wedding
        %br
        %a{ href: "https://goo.gl/maps/9FdO9" }
          Westin Lakeside Pavilion
          %br
          400 Park Boulevard
          %br
          Itasca, IL 60143
          %br
          %br
        %div.text-color-nav-default
          %span.glyphicon.glyphicon-calendar
          Saturday August 16, 2014
          %br
          Jaan Arrival: 9:00 AM
          %br
          Ceremony: 10:00 AM
  .col-lg-4.col-md-4.col-sm-4.text-center
    .thumbnail
      %img{ src: image_path("westin-reception.jpg") }
      .caption
        %strong.text-color-nav-default  Reception
        %br
        %a{ href: "https://goo.gl/maps/9FdO9" }
          Westin Grand Ballroom
          %br
          400 Park Boulevard
          %br
          Itasca, IL 60143
          %br
          %br
        %div.text-color-nav-default
          %span.glyphicon.glyphicon-calendar
          Saturday August 16, 2014
          %br
          Cocktails: 6:00 PM
          %br
          Dinner & Reception: 7:00 PM
    .fluff-60
