.row.height-fill
  .col-lg-6.col-md-6.height-fill.flex-column-centered
    .margin-auto.text-color-nav-default
      %h2.text-center Our Story
      %p It was a brisk fall night at the University of Illinois and the year was 2009. She was a marketing major out to have a good time with her friends. He was a mechanical engineering major wanting to stay in and play with robots, but got dragged out by his friends from out of town.
      %p It must have been destiny that they both ended up at Clys - she was going down the stairs and he was coming up. They felt inclined to talk to each other and after an evening of great conversation and laughing they went their separate ways. Little did they know that this was only the beginning.
      %p The two became good friends but he was graduating that year and leaving for an internship in California. They promised to keep in touch and lucky for her, he returned after a summer in Cali back to the great midwest.
      %p After three amazing years of love and laughter, she wanted more than anything to marry him. He continued to push it off without any indication that he had an amazing surprise planned for her on August 31st, 2013 at Vertigo Sky Lounge in Chicago. That day in front of family and friends, he got down on one knee and gave her the best gift a girl could ask for - a diamond ring and a promise to love her forever.
      %p Now the two have embarked on the impossible - planning an Indian wedding. To find out what happens next, join them on:
      %h3.text-center 8.16.14
  .col-lg-6.col-md-6.hidden-sm.hidden-xs.height-fill
    .bkgd-pic-our-story.bkgd-pic-fill
