.row.height-fill.flex-column-centered
  .margin-auto.text-color-nav-default.text-center
    %h2 Photos
    .fluff-40
    %h3 Engagement
    %a{ href: "http://nirajgandhi.com/chiragandumasengagement", target: "_blank" }
      %h4 Page 1
    %a{ href: "http://nirajgandhi.com/chiragandumasengagement2", target: "_blank" }
      %h4 Page 2
    %h3 Engagement Photo Shoot
    %p.lead Coming Soon!
    %br
    %h3 Wedding
    %p.lead Coming Soon!
    .fluff-60
