.row.height-fill.flex-column-centered
  .margin-auto.text-color-nav-default.text-center
    %h2 Photos & Videos
    .fluff-40
    %h3 Engagement Pictures
    %a{ href: "http://nirajgandhi.com/chiragandumasengagement", target: "_blank" }
      %h4 Photos Page 1
    %a{ href: "http://nirajgandhi.com/chiragandumasengagement2", target: "_blank" }
      %h4 Photos Page 2
    %h3 Wedding Videos
    %a{ href: 'http://vimeo.com/108375919', target: '_blank' }
      %h4 Highlight Video
    %a{ href: 'http://vimeo.com/110519346', target: '_blank' }
      %h4 Garba Performances
    %a{ href: 'http://vimeo.com/110515148', target: '_blank' }
      %h4 Reception Performances
    %h5 (password: performance)
    %h3 Wedding Pictures
    %a{ href: 'http://chuma.smugmug.com', target: '_blank' }
      %h4 Photos
    .fluff-60

