.text-center.text-color-nav-default
  %h2 Wedding Party
  .row
    .col-lg-6
      %h3.text-color-brand-info Groomsmen
      .row
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
          %img{ src: image_path("Tino Priolo.jpg"), class: "img-rounded img-responsive wedding-party" }
          .lead.margin-bottom-zero Tino Priolo
          .lead (Best Man)
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
          %img{ src: image_path("Pratik Amin.jpg"), class: "img-rounded img-responsive wedding-party" }
          .lead Pratik Amin
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
          %img{ src: image_path("Stephen Bolotin.jpg"), class: "img-rounded img-responsive wedding-party" }
          .lead Stephen Bolotin
      .row
        .col-lg-3.col-md-3.col-sm-12.col-xs-12
          %img{ src: image_path("Kyle Cutlip.jpg"), class: "img-rounded img-responsive wedding-party" }
          .lead Kyle Cutlip
        .col-lg-3.col-md-3.col-sm-12.col-xs-12
          %img{ src: image_path("Erick Diaz.jpg"), class: "img-rounded img-responsive wedding-party" }
          .lead Erick Diaz
        .col-lg-3.col-md-3.col-sm-12.col-xs-12
          %img{ src: image_path("Anik Patel.jpg"), class: "img-rounded img-responsive wedding-party" }
          .lead Anik Patel
        .col-lg-3.col-md-3.col-sm-12.col-xs-12
          %img{ src: image_path("Sushant Patel.jpg"), class: "img-rounded img-responsive wedding-party" }
          .lead Sushant Patel
    .col-lg-6
      %h3.text-color-brand-info Bridesmaids
      .row
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
          %img{ src: image_path("Amy Patel.jpg"), class: "img-rounded img-responsive wedding-party" }
          .lead.margin-bottom-zero Amy Patel
          .lead (Maid of Honor)
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
          %img{ src: image_path("Krystina Briones.jpg"), class: "img-rounded img-responsive wedding-party" }
          .lead Krystina Briones
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
          %img{ src: image_path("Atina D'Souza.jpg"), class: "img-rounded img-responsive wedding-party" }
          .lead Atina D'Souza
      .row
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
          %img{ src: image_path("Miral Patel.jpg"), class: "img-rounded img-responsive wedding-party" }
          .lead Miral Patel
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
          %img{ src: image_path("Nirali Shah.jpg"), class: "img-rounded img-responsive wedding-party" }
          .lead Nirali Shah
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
          %img{ src: image_path("Amy Yahiro.jpg"), class: "img-rounded img-responsive wedding-party" }
          .lead Amy Yahiro
  .row
    .col-lg-6
      %h3.text-color-brand-info Ring Bearer
      .row
        .col-lg-4.col-md-4
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
          %img{ src: image_path("Ajay McCawley.jpg"), class: "img-rounded img-responsive wedding-party" }
          .lead Ajay McCawley
        .col-lg-4.col-md-4
    .col-lg-6
      %h3.text-color-brand-info Flower Girl
      .row
        .col-lg-4.col-md-4
        .col-lg-4.col-md-4
          %img{ src: image_path("Kayleigh Patel.jpg"), class: "img-rounded img-responsive wedding-party" }
          .lead Kayleigh Patel
        .col-lg-4.col-md-4
  .fluff-60
