!!! 5
%html
%head
  %title Wedding
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, user-scalable=no"}
%body.bkgd-dark
  .container
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle{:type => "button", :data => {:toggle => "collapse", :target => "#nav-list"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Chirag & Uma
        .collapse.navbar-collapse#nav-list
          %ul.nav.navbar-nav
            %li
              %a{:href => "#"} Item 1
            %li
              %a{:href => "#"} Item 2
            %li
              %a{:href => "#"} Item 3
        %noscript
          %p.text-center You must have javascript enabled to use this site.

    = yield

    %nav.navbar.navbar-default.navbar-fixed-bottom
      .container-fluid
        %p.navbar-text Designed by Chirag Tailor
