.panel.panel-default
  .panel-body.scroll-y.max-height-225
    %table.table.table-hover#group-member-list
      %tr
        %th.text-center First Name
        %th.text-center Last Name
        %th.text-center Age Group
        %th
          = render partial: "members/member", collection: group.saved(:members), locals: { group: group }
